@charset "utf-8";
	header
{
	background-image : url(header.png);
	background-repeat : no-repeat;
}
.gpgp
{
	background-image : url(gpgp.png);
	background-repeat : no-repeat;
}
.marineLife
{
	background-image : url(marineLife.png);
	background-repeat : no-repeat;
}
.ourPlanet
{
	background-image : url(ourPlanet.png);
	background-repeat : no-repeat;
}
.straws_1_
{
	background-image : url(straws_1_.png);
	background-repeat : no-repeat;
}
.saveTheWorld
{
	background-image : url(saveTheWorld.png);
	background-repeat : no-repeat;
}
