@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#gpgp
{
    background-color: #CAFFFF;
    position: absolute;
    overflow: hidden;
}

#gpgpHeader 
{
    background-color: #FAA300;
    font-size: 3em;
    position: relative;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 625px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#gpgpSpirals
{
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 16%;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
}

#charlesMoore p
{
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    font-family: 'Avenir', sans-serif;
    font-size: 1em;
    line-height: 30px;
}

#map
{
    position: absolute;
    font-family: 'Avenir', sans-serif;
    overflow: visible;
}

.map
{
    
    fill: #2E3192;;
}

#mapLeft
{
    fill: #2E3192;;
}

#mapRight
{
    fill: #2E3192;;
}

.st0
{fill:#2E3192;}

